.container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
}
.wrapper {
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: flex;
}

.form-check {
  margin: 10px;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn-collection {
  width: 100%;
  display: flex;
  justify-content: center;
}
